<div class="shop">
    <ul class="cards">
        {% for item in site.data.shop-cards %}
            <li class="cards-item">
                <div class="card">
                <div class="card-image"><img src="https://via.placeholder.com/300x400"></div>
                <div class="card-content">
                    <h2 class="card-title">{{ item.name }}</h2>
                    <h3 class="card-price">{{ item.price }} €</h3>
                    <p class="card-text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn card-btn">Read More</button>
                </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- assets/product-pictures/{{ item.name }}.png -->