#banner {
    background-color: #e2e2e2;
    padding: 64px;
    transition: 500ms ease-in-out;
    height: 400px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 12;
    overflow: visible;
}

#banner svg {
    height: 100%;
    width: 100%;
    transition: 500ms ease-in-out;
    min-height: 60px;
    padding: 10px;
}

#path1 {
    animation: 0.5s ease-out 0s 1 appear;
    fill: transparent;
}
#path2 {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    fill: transparent;
}

@keyframes appear {
    0% {
        fill: transparent;
    }
    100% {
        fill: #737373;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
        fill: transparent;
    }
    100% {
        transform: translateX(0);
        fill: #45a29e;
    }
}