//local font import

@font-face {
    font-family: 'Roboto Mono';
    src: url('/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Mono';
    src: url('/assets/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Benne';
    src: url('/assets/fonts/Benne/Benne-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Baloo Tammudu 2';
    src: url('/assets/fonts/Baloo_Tammudu_2/BalooTammudu2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Baloo Tammudu 2';
    src: url('/assets/fonts/Baloo_Tammudu_2/BalooTammudu2-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Baloo Tammudu 2';
    src: url('/assets/fonts/Baloo_Tammudu_2/BalooTammudu2-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Baloo Tammudu 2';
    src: url('/assets/fonts/Baloo_Tammudu_2/BalooTammudu2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}