// color variables

:root {
    --border-color: #a5a5a5;
}

body {
    height: 2000px;
}

// darkmode color variables

[data-theme="dark"] {
    --border-color: #a5a5a5;
}

body {
    margin: 0;
    background-color: white;
    scroll-behavior: smooth;
}