.shop *,
.shop *::before,
.shop *::after {
  box-sizing: border-box;
}

.shop{
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.card-wrapper {
  display: flex;
  width: 100%;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.507), -20px 20px 40px rgba(0, 0, 0, 0.507);
}

.card {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.1s, transform 0.1s;
  background-image: url(../product-pictures/product1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover {
  cursor: pointer;
}

.card-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.card-content .buy {
  position: absolute;
  margin: 16px;
  padding: 8px 32px;
  font-size: 16px;
  border: none;
  background-color: #45a29e;
  border-radius: 100px;
  bottom: 0;
  right: 0;
}

.card-content .price {
  position: absolute;
  bottom: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  margin: 16px;
  padding: 8px 32px;
  bottom: 0;
  left: 0;
  background-color: #cccccc;
  color: #3d4252;
}

@media (max-width: 530px) {
  .shop{
    max-width: 370px;
  }
}

@media (min-width: 1040px) {
  .card-wrapper {
    width: 50%;
  }
  .shop{
    max-width: 1200px;
  }
}

@media (min-width: 1900px) {
  .card-wrapper {
    width: 33.3333%;
  }
}