.shop *,
.shop *::before,
.shop *::after {
  box-sizing: border-box;
}

.shop{
  max-width: 1200px;
  margin: 0 auto;
}

.shop h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.shop img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #45a29e;
  color: white;
}

.btn:hover {
  background-color: #d4eceb;
  color: rgb(46, 46, 46);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%;
  }
}

.card {
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border: solid 1px rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-content {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;

}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.card-price {
    font-weight: 100;
}
.card-text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made-by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}